
@{
    ViewData["Title"] = "High Score";
}
<div class="container">
    <div class="page-header">
        <h1>High Scores</h1>
        <h3> Descobre aqui se o teu score está nos 10 melhores!</h3>
    </div>
    <table class="table table-bordered table-hover table-condensed" id="HighScore">
        <tr>
            <th> Ranking</th>
            <th> Nome do Jogador</th>
            <th>Pontuação</th>
            <th>Resultado Final</th>
            <th>Chave</th>
            <th>Nrº Inimigos Derrotados</th>
            <th>Nrº Fugas do Inimigo</th>
            <th>Nrº Investigações na área</th>
            <th>Nrº Itens Encontrados</th>
            <th>Nrº Poções Usadas</th>
            <th>Nrº Poções Totais</th>
        </tr>
        <tr>
            <td>1º</td>
            <td>Joaquim</td>
            <td>10</td>
            <td>Vitória</td>
            <td>Encontrada</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>1</td>
            <td>5</td>
        </tr>
        <tr>
            <td>2º</td>
            <td>Cátia</td>
            <td>3</td>
            <td>Derrota</td>
            <td>Não Encontrada</td>
            <td>0</td>
            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
        </tr>
        <tr>
            <td>3º</td>
            <td>João</td>
            <td>2</td>
            <td>Derrota</td>
            <td>Não Encontrada</td>
            <td>0</td>
            <td>8</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
        </tr>
        <tr>
            <td>4º</td>
            <td>Marta</td>
            <td>9</td>
            <td>Vitória</td>
            <td>Encontrada</td>
            <td>5</td>
            <td>0</td>
            <td>1</td>
            <td>3</td>
            <td>0</td>
            <td>4</td>
        </tr>
        <tr>
            <td>5º</td>
            <td>Carlos</td>
            <td>2</td>
            <td>Derrota</td>
            <td>Não Encontrada</td>
            <td>0</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
        </tr>
        <tr>
            <td>6º</td>
            <td> Manuel</td>
            <td>7</td>
            <td>Vitória</td>
            <td>Encontrada</td>
            <td>9</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>5</td>
        </tr>
        <tr>
            <td>7º</td>
            <td>Sílvia</td>
            <td>10</td>
            <td>Vitória</td>
            <td>Encontrada</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
            <td>5</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <td>8º</td>
            <td>Mário</td>
            <td>0</td>
            <td>Derrota</td>
            <td>Não Encontrada</td>
            <td>0</td>
            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <td>9º</td>
            <td>José</td>
            <td>6</td>
            <td>Derrota</td>
            <td>Não Encontrada</td>
            <td>0</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
        <tr>
            <td>10º</td>
            <td>Fábio</td>
            <td>2</td>
            <td>Derrota</td>
            <td>Não Encontrada</td>
            <td>0</td>
            <td>4</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
        </tr>
    </table>
</div>
