

@{
    ViewData["Title"] = "High Score";
}

<!DOCTYPE html>
<html>
<head>
    
</head>
<body>

    <div class="container">
        <div class="page-header">
            <h1>Página de Hi-Scores</h1>
            <h3> Descobre aqui se o teu score está nos 10 melhores!</h3>
        </div>
        <table class="table table-bordered table-hover table-condensed">
            <tr>
                <th>
                    Nome do Jogador
                </th>
                <th>
                    Pontuação
                </th>
                <th>
                    Resultado Final
                </th>
                <th>
                    Chave
                </th>
                <th>
                    Nrº Inimigos Derrotados
                </th>
                <th>
                    Nrº Fugas do Inimigo
                </th>
                <th>
                    Nrº Investigações na área
                </th>
                <th>
                    Nrº Itens Encontrados
                </th>
                <th>
                    Nrº Poções Usadas/Totais
                </th>
            </tr>

            <tr>
                <td>
                    Joaquim

                </td>
                <td>
                    10
                </td>
                <td>
                    Vitória
                </td>
                <td>
                    Encontrada
                </td>
                <td>
                    2
                </td>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    3
                </td>
                <td>
                    1
                </td>
            </tr>

            <tr>
                <td>
                    Cátia
                </td>
                <td>
                    3
                </td>
                <td>
                    Derrota
                </td>
                <td>
                    Não Encontrada
                </td>
                <td>
                    0
                </td>
                <td>
                    4
                </td>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
                <td>
                    0
                </td>
            </tr>
            <tr>
                <td>
                    João
                </td>
                <td>
                    2
                </td>
                <td>
                    Derrota
                </td>
                <td>
                    Não Encontrada
                </td>
                <td>
                    0
                </td>
                <td>
                    8
                </td>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
                <td>
                    0
                </td>
            </tr>

            <tr>
                <td>
                    Marta
                </td>
                <td>
                    9
                </td>
                <td>
                    Vitória
                </td>
                <td>
                    Encontrada
                </td>
                <td>
                    5
                </td>
                <td>
                    0
                </td>
                <td>
                    1
                </td>
                <td>
                    3
                </td>
                <td>
                    0
                </td>
            </tr>

            <tr>
                <td>
                    Carlos
                </td>
                <td>
                    2
                </td>
                <td>
                    Derrota
                </td>
                <td>
                    Não Encontrada
                </td>
                <td>
                    0
                </td>
                <td>
                    2
                </td>
                <td>
                    1
                </td>
                <td>
                    3
                </td>
                <td>
                    2
                </td>
            </tr>

            <tr>
                <td>
                    Manuel
                </td>
                <td>
                    7
                </td>
                <td>
                    Vitória
                </td>
                <td>
                    Encontrada
                </td>
                <td>
                    9
                </td>
                <td>
                    2
                </td>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    2
                </td>
            </tr>

            <tr>
                <td>
                    Sílvia
                </td>
                <td>
                    10
                </td>
                <td>
                    Vitória
                </td>
                <td>
                    Encontrada
                </td>
                <td>
                    3
                </td>
                <td>
                    0
                </td>
                <td>
                    1
                </td>
                <td>
                    5
                </td>
                <td>
                    0
                </td>
            </tr>

            <tr>
                <td>
                    Mário
                </td>
                <td>
                    0
                </td>
                <td>
                    Derrota
                </td>
                <td>
                    Não Encontrada
                </td>
                <td>
                    0
                <td>
                    4
                </td>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
                <td>
                    0
                </td>
            </tr>

            <tr>
                <td>
                    José
                </td>
                <td>
                    6
                </td>
                <td>
                    Derrota
                </td>
                <td>
                    Não Encontrada
                </td>
                <td>
                    0
                </td>
                <td>
                    2
                </td>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
                <td>
                    0
                </td>

            <tr>
                <td>
                    Fáio
                </td>
                <td>
                    2
                </td>
                <td>
                    Derrota
                </td>
                <td>
                    Não Encontrada
                </td>
                <td>
                    0
                </td>
                <td>
                    4
                </td>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    1
                </td>
            </tr>


        </table>
    </div>
</body>
    </html>
