@model SetepassosPRJ.Models.NovoJogo;
@{
    ViewData["Title"] = "7 Passos";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h1 class="titulo">7 Passos</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4" id="elementos">
        <strong>Nome do Jogador:</strong>@Model.Utilizador <br />
        <strong>Perfil de herói:</strong>@Model.PerfilHeroi <br />
        <strong>Pontos de vida:</strong>...<br />
        <strong>Pontos de ataque:</strong>...<br />
        <strong>Pontos de sorte:</strong>...<br />
        <strong>Poções de vida:</strong>...<br />
        <strong>Posse de chave:</strong>...<br />
        <strong>Posição do herói:</strong>...<br />
        <strong>Área de jogo:</strong>...<br />
        <!--<form asp-action="NovoJogo" method="post">
        <div>
            <label asp-for="Controlo">Controlo</label> <br />
            <select asp-for="Controlo">
                if (Model.AreaJogo)
                {
                    <option value="PassoFrente">Dar um passo em frente</option>
                    <option value="PassoAtras">Dar um passo atrás</option>
                    <option value="ExaminarArea">Examinar Area</option>
                    <option value="BeberPocaoVida">Beber uma poção de vida</option>
                }
                else
                {
                    <option value="AtacarInimigo">Atacar inimigo</option>
                    <option value="Fugir">Fugir, evitando combate</option>
                    <option value="BeberPocaoVida">Beber uma poção de vida</option>
                }
            </select> <br />
        </div>
    </form> -->
        <strong>Contexto:</strong>
    </div>
    <div class="col-md-8">
        <img src="~/css/rengejoin-temple.jpg" alt="Corredor" title="Jogo" />
    </div>
</div>

