@model SetepassosPRJ.Models.Jogo;
@{
    ViewData["Title"] = "7 Passos";
}

<h3 class="titulo">7 Passos</h3>
<p>Salva o Quentin!</p>
<div class="row">
    <div class="col-md-12 corredor">
        @if (Model.PerfilHeroi == "BlackMamba")
        {
            <img src="~/images/mediumblackmamba.png" alt="Black Mamba" title="Black Mamba" class="heroi" />
        }
        else if (Model.PerfilHeroi == "Cottonmouth")
        {
            <img src="~/images/mediumcottonmouth.png" alt="Cottonmouth" title="Cottonmouth" class="heroi" />
        }
        else
        {
            <img src="~/images/mediumgogoyarubi.png" alt="GogoYurabi" title="Gogo Yurabi" class="heroi" />
        }
        @if (Model.Inimigo)
        {
            <img src="~/images/minicharlieangels.png" alt="AnjosCharlie" title="Anjos de Charlie" class="inimigo" />
        }
    </div>
</div>
<div class="row" id="elementos">
    <div class="col-md-4">
        <strong>Nome do Jogador: </strong>@Model.Utilizador <br />
        <strong>Perfil de herói: </strong>@Model.PerfilHeroi <br />
        <strong>Pontos de vida: </strong>@for (int coracoes = 0; coracoes < Model.PontosVida; coracoes++)
        {
            <img src="~/images/miniheart.png" alt="PontosVida" title="Pontos de vida" />
        }
        <br />
        @if (Model.PontosVida < 2)
        {
            @:Estás com poucos pontos de vida! Atenção à tua cabeça! <br />
        }
        else
        {
            @:Ainda tens pontos de vida suficientes! Continua assim! <br />
        }
        <strong>Pontos de ataque: </strong>@for (int espadas = 0; espadas < Model.PontosAtaque; espadas++)
        {
            <img src="~/images/minisword.png" alt="PontosAtaque" title="Pontos de ataque" />
        }<br />
        <strong>Pontos de sorte: </strong>@for (int trevos = 0; trevos < Model.PontosSorte; trevos++)
        {
            <img src="~/images/minitrevo.png" alt="PontosSorte" title="Pontos de sorte" />
        }
    </div>
    <div class="col-md-4">
        <strong>Poções de vida: </strong>@for (int pocoes = 0; pocoes < Model.PocoesVida; pocoes++)
        {
            <img src="~/images/minipotion.png" alt="Pocao" title="Poção de vida" /> <br />
        }
        @if (Model.PocaoEncontrada)
        {
            @:Acabas-te de encontrar uma poção!
        }
        else
        {
            @:Nesta área não há poções!
        }
        <br /><strong>Posse de chave: </strong>@if (Model.Chave)
        {
            @:CHAVE! A chave está mesmo debaixo do teu nariz!
        }
        else
        {
            @:Caramba! A chave não está nesta área!
        }
        <br />
        <strong>Moedas de ouro: </strong>@Model.MoedasOuro<br />
        <br />
        <strong>Posição do herói: </strong>@Model.PosicaoHeroi<br />
    </div>
    <div class="col-md-4">
        <div>
            @if (Model.Inimigo)
            {
                <strong class="alert-danger">Cuidado! O salto alto das anjos de Charlie é ponteagudo! Escolhe o que fazer já:</strong> <br />
                <button type="submit" class="btn btn-danger">Atacar o inimigo!</button> <br />
                <button type="submit" class="btn btn-info">Fugir!</button> <br />
                <button type="submit" class="btn btn-success">Beber um poção de vida</button>
            }
            else
            {
                <strong>Não há inimigos nesta área! Escolhe o que fazer:</strong> <br />
                <button type="submit" class="btn btn-warning">Dar um passo em frente!</button> <br />
                <button type="submit" class="btn btn-info">Examinar Área</button> <br />
                <button type="submit" class="btn btn-success">Beber um poção de vida</button>
            }
        </div>
    </div>
</div>

