@model SetepassosPRJ.Models.NovoJogo;
@{
    ViewData["Title"] = "7 Passos";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h1 class="titulo">7 Passos</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4" id="elementos">
        <strong>Nome do Jogador:</strong>@Model.Utilizador <br />
        <strong>Perfil de herói:</strong>@Model.PerfilHeroi <br />
        <strong>Pontos de vida:</strong>
        @if (Model.PerfilHeroi == "BlackMamba")
        {
            @:4
        }
        else if (Model.PerfilHeroi == "CottonMouth")
        {
            @:3
        }
        else
        {
            @:3
        }
        <br />
        <strong>Pontos de ataque:</strong>
        @if (Model.PerfilHeroi == "BlackMamba")
        {
            @:3
        }
        else if (Model.PerfilHeroi == "CottonMouth")
        {
            @:3
        }
        else
        {
            @:2
        }<br />

        <strong>Pontos de sorte:</strong>
        @if (Model.PerfilHeroi == "BlackMamba")
        {
            @:2
        }
        else if (Model.PerfilHeroi == "CottonMouth")
        {
            @:3
        }
        else
        {
            @:4
        }<br />
        <strong>Poções de vida:</strong>0<br />
        <strong>Posse de chave:</strong>Não<br />
        <strong>Posição do herói:</strong>1<br />
        <strong>Área de jogo:</strong>Ocupado<br />
        <strong>Controlos do jogo:</strong> 
        <br />
        <strong>Contexto:</strong>
    </div>
    <div class="col-md-8">
        <img src="~/css/rengejoin-temple.jpg" alt="Corredor" title="Jogo" />
    </div>
</div>

