@model GameApiRequest
@{
    ViewData["Title"] = "Novo Jogo";
}

<h1>Regista-te e joga!</h1>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("NovoJogo", "Jogo"))
        {
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label>Utilizador:</label>
                <input name="playerName" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label>Perfil de Herói:</label>
                <input name="playerClass" type="radio" value="B" data-toggle="collapse" data-target="#collapseOne" /> Black Mamba
                <input name="playerClass" type="radio" value="S" data-toggle="collapse" data-target="#collapseOne" checked /> Cottonmouth
                <input name="playerClass" type="radio" value="W" data-toggle="collapse" data-target="#collapseOne" checked /> Gogo Yurabi
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger form-control">Iniciar Jogo</button>
            </div>
        }
    </div>
</div>

