@model SetepassosPRJ.Models.NovoJogo
@{
    ViewData["Title"] = "Novo Jogo";
}

<h1>Novo Jogo</h1>

<form asp-action="NovoJogo" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Utilizador">Utilizador:</label> <br />
        <input asp-for="Utilizador" />
    </div>
    <div>
        <label asp-for="PerfilHeroi">Perfil</label> <br />
        <select asp-for="PerfilHeroi">
            <option value="BlackMamba">Black Mamba</option>
            <option value="Cottonmouth">Cottonmouth</option>
            <option value="Copperhead">Copperhead</option>
        </select> <br />
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Jogo</button>
</form>
