<!--Recebe a Lista Round Summary e Resultado final, os quais devem estar na class Jogo-->
@{
    ViewData["Title"] = "Resultados";
}

<h1>Resultados do jogo autónomo</h1>

<table class="table table-bordered table-hover table-condensed" id="HighScore">
    <tr>
        <th>Nr. da ronda</th>
        <th>Decisão tomada</th>
        <th>Posição</th>
        <th>Inimigos vencidos</th>
        <th>Fugas ao combate</th>
        <th>Itens encontrados</th>
        <th>Chave</th>
        <th>Moedas de Ouro</th>
        <th>Pontos de vida/ataque/sorte</th>
        <th>Poções de vida</th>
    </tr>
    <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
    </tr>
</table>

<button class="collapsible btn grad3" data-toggle="collapse" data-target="#resultados">Resultados globais</button>
<div id="resultados" class="collapse">
    <h1>Resultados Globais</h1>
    <table class="table table-bordered table-hover table-condensed" id="HighScore">
        <tr>
            <th>Rondas jogadas</th>
            <th>Score</th>
            <th>Resultado Final</th>
            <th>Chave</th>
            <th>Nr.Passos</th>
            <th>Investigações da área</th>
            <th>Poções de Vida consumidas</th>
            <th>Ataques</th>
            <th>Fugas do inimigo</th>
            <th>Inimigos derrotados</th>
            <th>Itens encontrados</th>
            <th>% de áreas investigadas</th>
        </tr>
        <tr>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>
    </table>
</div>

