@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Instituto Politécnico de Setúbal, Escola Superior de Ciências Empresariais<br />
    Campus do IPS-estefanilhs,2910-761<br />
    <abbr title="UnidadeCurricular">Curso-UC:</abbr>
    GSI-DA2
</address>

<address>
    <strong>Team:</strong> <br />
    <strong>Alexandra Viegas:</strong><a href="160323018@estudantes.ips.pt">160323018@estudantes.ips.pt</a><br />
    <strong>Mafalda Sousa:</strong><a href="180323044@estudantes.ips.pt">180323044@estudantes.ips.pt</a><br />
    <strong>Marta Sousa:</strong><a href="170323021@estudantes.ips.pt">170323021@estudantes.ips.pt</a><br />
</address>
