@{
    ViewData["Title"] = "Pagina Inicial";
}



    <h1>7 Passos</h1>
    <p>As anjos de Charlie raptaram o Quentin Tarantino, agora a Black Mamba, a Conttenmouth e a Copperhead têm que o salvar.</p>
    <p>Regista-te e ajuda-as a cumprir esta missão.</p> <br />
    <a asp-controller="Jogo" asp-action="NovoJogo" class="btn btn-primary">Registar</a>



