
@{
    ViewData["Title"] = "Regras";
}
<h2>Bem-vindo ao 7 Passos - Kill Charlie</h2>
<h4>Como jogar:</h4>

<h5>
    1. Regista-te na página inicial do jogo! Escolhe o teu nome de utilizador e a personagem com que queres jogar (Black Mamba, Gogo Yarubi ou Cottonmouth)
    2. Agora que já estás pronto para jogar, existem regras que deves saber!
</h5>
<div>
    Cada herói possui 3 características base:
    <p> <img src="~/images/miniheart.png" class="text-left"> <strong>Pontos de Vida</strong> – estado de saúde do herói</p>
    <p> <img src="~/images/minisword.png" class="text-left"> <strong>Pontos de Força</strong> – dano infligido ao atacar um inimigo</p>
    <p> <img src="~/images/minitrevo.png" class="text-left"> <strong>Pontos de Sorte</strong> – influenciam acontecimentos durante o jogo, como a dinâmica de combate</p>
</div>
Existem 3 heróis à escolha:

Black Mamba:

Gogo Yarubi:

Cottonmouth:




