
@{
    ViewData["Title"] = "Regras";
}
<h1>Bem-vindo ao 7 Passos - Kill Charlie</h1>
<h2>Como jogar:</h2>

<h3>
    1. Regista-te na página inicial do jogo! Escolhe o teu nome de utilizador e a personagem com que queres jogar (Black Mamba, Gogo Yarubi ou Cottonmouth)
    2. Agora que já estás pronto para jogar, existem regras que deves saber!
</h3>

Cada herói possui 3 características base:
<img src="~/images/miniheart.png" class="text-left"> Pontos de Vida – estado de saúde do herói
<img src="~/images/minisword.png" class="text-left"> Pontos de Força – dano infligido ao atacar um inimigo
<img src="~/images/minitrevo.png" class="text-left">Pontos de Sorte – influenciam acontecimentos durante o jogo, como a dinâmica de combate

Existem 3 heróis à escolha:

Black Mamba:

Gogo Yarubi:

Cottonmouth:




