
@{
    ViewData["Title"] = "Regras";
}
Bem-vindo ao 7 Passos - Kill Charlie
<h2>Como jogar:</h2>

1. Regista-te na página inicial do jogo! Escolhe o teu nome de utilizador e a personagem com que queres jogar (Black Mamba, Gogo Yarubi ou Cottonmouth)
2. Agora que já estás pronto para jogar, existem regras que deves saber!

Cada herói possui 3 características base:
<!--inserir imagem-->Pontos de Vida – estado de saúde do herói
<!--inserir imagem-->Pontos de Força – dano infligido ao atacar um inimigo
<!--inserir imagem-->Pontos de Sorte – influenciam acontecimentos durante o jogo, como a dinâmica de combate




