@{
    ViewData["Title"] = "Regras";
}

<h2>Bem-vindo ao 7 Passos - Kill Charlie</h2>

<div class="regras">
    <h3>Como jogar:</h3>
    <h5>
        <ol>
            <li>
                Regista-te na página inicial do jogo! Escolhe o teu nome de utilizador e a <p>personagem com que queres jogar (Black Mamba, Gogo Yarubi ou Cottonmouth)</p>
            </li>
            <li>
                Agora que já estás pronto para jogar, existem regras que deves saber!
            </li>
        </ol>
    </h5>
    <div>
        <h4><strong>Características</strong></h4>
        Cada herói possui 3 características base:
        <ul>
            <li> <img src="~/images/miniheart.png" class="text-left"> <strong>Pontos de Vida</strong> – estado de saúde do herói</li>
            <li> <img src="~/images/minisword.png" class="text-left"> <strong>Pontos de Força</strong> – dano infligido ao atacar um inimigo</li>
            <li> <img src="~/images/minitrevo.png" class="text-left"> <strong>Pontos de Sorte</strong> – influenciam acontecimentos como o combate</li>
        </ul>
    </div>
    <h4><strong>Heróis</strong></h4>

    Existem 3 heróis à escolha:
    <div class="row">
        <div class="col-md-4">
            <strong>Black Mamba:</strong>
            <img src="~/images/miniblackmamba.png" class="img-responsive media-left" />
            <ul>
                <li>
                    <img src="~/images/miniheart.png" class="text-left">
                    <img src="~/images/miniheart.png" class="text-left">
                    <img src="~/images/miniheart.png" class="text-left">
                    <img src="~/images/miniheart.png" class="text-left">
                </li>
                <li>
                    <img src="~/images/minisword.png" class="text-left">
                    <img src="~/images/minisword.png" class="text-left">
                    <img src="~/images/minisword.png" class="text-left">
                </li>
                <li>
                    <img src="~/images/minitrevo.png" class="text-left">
                    <img src="~/images/minitrevo.png" class="text-left">
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Gogo Yarubi:</strong>
            <img src="~/images/minigogo.png" class="img-responsive media-left" />
            <ul>
                <li>
                    <img src="~/images/miniheart.png" class="text-left">
                    <img src="~/images/miniheart.png" class="text-left">
                    <img src="~/images/miniheart.png" class="text-left">
                </li>
                <li>
                    <img src="~/images/minisword.png" class="text-left">
                    <img src="~/images/minisword.png" class="text-left">
                </li>
                <li>
                    <img src="~/images/minitrevo.png" class="text-left">
                    <img src="~/images/minitrevo.png" class="text-left">
                    <img src="~/images/minitrevo.png" class="text-left">
                    <img src="~/images/minitrevo.png" class="text-left">
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Cottonmouth:</strong>
            <p></p><img src="~/images/minicottonmouth.png" class="img-responsive media-left" /></p>
            <ul>
                <li>
                    <img src="~/images/miniheart.png" class="text-left">
                    <img src="~/images/miniheart.png" class="text-left">
                    <img src="~/images/miniheart.png" class="text-left">
                </li>
                <li>
                    <img src="~/images/minisword.png" class="text-left">
                    <img src="~/images/minisword.png" class="text-left">
                    <img src="~/images/minisword.png" class="text-left">
                </li>
                <li>
                    <img src="~/images/minitrevo.png" class="text-left">
                    <img src="~/images/minitrevo.png" class="text-left">
                    <img src="~/images/minitrevo.png" class="text-left">
                </li>
            </ul>
        </div>
    </div>

    <h4><strong>O herói poderá encontrar:</strong></h4>
    <div class="row">
        <div class="col-md-1">
            <strong>Inimigo:</strong>
            <img src="~/images/miniCharlieAngels.png" class="img-responsive media-left" />
        </div>
        <div class="col-md-1">
            <strong>Ouro</strong>
            <img src="~/images/mediumOuro.png" class="img-responsive media-left" />
        </div>
        <div class="col-md-1">
            <strong>Nada</strong>
            <img src="~/images/mediumNada.png" class="img-responsive media-left" />
        </div>
        <div class="col-md-1">
            <strong>Poção</strong>
            <img src="~/images/minipotion.png" class="img-responsive media-left" />
        </div>
        <div class="col-md-2">
            <strong>Item surpresa</strong>
            <img src="~/images/mediumIntem.png" class="img-responsive media-left" />
        </div>
        <div class="col-md-1">
            <strong>Chave</strong>
            <img src="~/images/miniKey.png" class="img-responsive media-left" />
        </div>

    </div>

    <h4><strong>Objetivo</strong></h4>
    Estás num corredor que acaba numa porta trancada.
    <p>Vence os inimigos que se encontram no teu caminho!</p>
    <p>Apanha todas as poções de vida que conseguires!</p>
    <p>Não te sentes confiante? FOGE! </p>
    Encontra a chave para abrir a porta! Alcança-a, sai do corredor e salva o Quentin!!
</div>


