body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url("killBillGif.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 2000px;
    background-color: black;
}

.titulo{
    color:red;
}
/*Jumbotron fica transparente*/
.jumbotron{
    position: relative; 
    top: 150px; 
    background-color:transparent !important;
    font-family:sans-serif;
}
