body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url("killBillGif.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: black;
}

/*Jumbotron fica transparente*/
.jumbotron{
    position: relative; 
    top: 150px; 
    background-color:transparent !important;
}
