/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url("../images/KillBillYellow.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    background-color: black;
}


.HomePage {
    width:100%;
    background-image: url("../images/killBillGif.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: black;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: darkred;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    color:darkred;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* A posição do footer é fixa e está no fim da página */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align:center;
    color:white;
}


/* controlo do formulário destacados a vermelho*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.jumbotron > .titulo
{
    color:darkred;
    font-weight:bolder;
}

.jumbotron {
    background-color: transparent !important; /*Jumbotron fica transparente*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: whitesmoke;
}

/*Posição do conteúdo do body da página Home Page*/
#index {
    position: relative;
    top: 180px;
    font-size:100px;
}

/*Estilo da Tabela de high scores*/
#HighScore {
    background-image: url("../images/Fire.gif") !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
    font-weight: bolder;
}

/*Estilo de todas as page-header*/
.page-header{
    color:darkred;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
}


.col-md-4 {
    border-width: 5px;
    border-style: ridge;
    font-family: 'Book Antiqua';
    color: white;
    background-image: url("../images/Fire.gif");
    background-repeat: no-repeat;
    background-size: cover;
}



/*Indice da página about*/
#Indice {
    color:darkred;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


#Equipa {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#Projeto {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

