/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    font-family: 'Bangers';
    font-size: 18px;
    letter-spacing: 2px;
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: black;
}

button {
    font-family: 'Bangers';
    font-size: 18px;
    letter-spacing: 2px;
    font-variant: small-caps;
    width: 150px;
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        opacity: 1;
    }

.HomePage {
    width:100%;
    background-image: url("../images/killBillGif.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: black;
}

.jogoCorredor {
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url("../images/CorredorJogo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: black;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    font-family: 'Bangers';
    font-size: 18px;
    letter-spacing: 2px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    color:darkred;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* A posição do footer é fixa e está no fim da página */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align:center;
    color:white;
}

/* controlo do formulário destacados a vermelho*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.jumbotron > .titulo
{
    color:darkred;
    font-weight:bolder;
}

.jumbotron {
    background-color: transparent !important; /*Jumbotron fica transparente*/
    font-weight: bolder;
    color: whitesmoke;
}

/*Posição do conteúdo do body da página Home Page*/
#index {
    position: relative;
    top: 180px;
    font-size:100px;
}

/*Estilo da Tabela de high scores*/
#HighScore {
    background-image: url("../images/Fire.gif") !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
    font-weight: bolder;
}

/*Mouseover da tabela highscore*/
tr:hover td{
    background-color:orangered;
}

/*De forma a que o th não "tenha" mouseover*/
tr:hover th {
    background-color: black;
}


/*Estilo de todas as page-header*/
.page-header{
    color:darkred;
    font-weight:bolder;
}

/*Estilo dos elementos do jogo*/
/*.elementos{
    border-width: 5px;
    border-style: ridge;
    font-family: 'Book Antiqua';
    color: white;
    background-image: url("../images/Fire.gif");
    background-repeat: no-repeat;
    background-size: cover;
}*/

/*Indice da página about*/
#Indice {
    color:darkred;
}

#Equipa {
    font-size: 20px;
}

#Projeto {
    font-size: 20px;
}


.img-over {
    position: absolute;
    z-index: auto;
    left:60px;
    top:30px;
}

.regras {
    background: rgb(0,0,0); /* Fallback color */
    background: rgba(0,0,0,0.5);
    color: white;
    width:100%;
    padding:20px;
}

@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
    /* Base font size */
    font-size: 1.5px;
    /* Set neon color */
    --neon-text-color: darkred;
    --neon-border-color: darkred;
}

.neon {
    letter-spacing: 3px;
    font-size: 15rem;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 4rem 6rem 5.5rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
}

    .neon::-moz-selection {
        background-color: var(--neon-border-color);
        color: var(--neon-text-color);
    }

    .neon::selection {
        background-color: var(--neon-border-color);
        color: var(--neon-text-color);
    }

    -neon:focus {
        outline: none;
    }

/* Animate neon flicker */
@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
        box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}
